html {
    height: 100%;
    background-image: url("img/background_img.jpeg");
    background-size: contain;
    background-position: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 680px;
    min-height: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    gap: 50px;
}

.desk {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    width: 450px;
    height: 450px;
    border: 1px solid #ff0000;
    z-index: 1;
}

.desk::before {
    position: absolute;
    top:0;
    width: 450px;
    height: 450px;
    background-image: url("img/moana_set/moana_450.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    content: '';
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    width: 177px;
    height: 450px;
    outline: 1px solid #000;
}

.element-cell {
    border: 1px solid #ff0000;
    z-index: 100;
}

.element-cell-frameless {
    border: 0;
}

.image-part {
    width: 86px;
    height: 86px;
    transition-property: width, height;
    transition-duration: 1s, 1s;
}

.image {
    width: 86px;
    height: 86px;
    touch-action: none;
}

.element-cell .image {
    width: 100%;
    height: 100%;
}

.pikachu {
    position: absolute;
    bottom: -350px;
    left: 0;
    z-index: 100;
    transition-property: bottom;
    transition-duration: 1s;
}

.pikachu-up {
    bottom: 0;
    transition-property: bottom;
    transition-duration: 1s;
}