@font-face {
    font-family: "PoiretOne";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PoiretOne-Regular.ttf");
    font-display: swap;
}

html {
    height: 100%;
    background-image: url("../img/background_blue.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

@media screen and (min-width: 320px) {
    .projects__title {
        font-size: 48px;
    }

    .projects__list {
        flex-direction: column;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
    min-height: 100%;
    margin: 0 auto;
}

.projects__item {
    align-self: center;
}

.projects__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.projects__link {
    display: block;
    width: 100px;
    height: 100px;
    transition: transform .2s;
}

.projects__link:hover {
    transform: scale(1.5);
}

.projects__title {
    display: block;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    font-family: "PoiretOne", "Arial", sans-serif;
    font-size: 56px;
    color: #fff;
    text-align: center;
}

.sedona1 {
    background-image: url("../img/sedona1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.sedona2 {
    background-image: url("../img/sedona2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.bear {
    background-image: url("../img/bear.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer__item {
    width: 25px;
    height: 25px;
}

.footer__item:hover {
    opacity: 0.6;
}

.footer__tel {
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer__email {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer__vk {
    background-image: url("../img/icon-vkontakte.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
