html {
    height: 100%;
    background-image: url("../img/background_blue.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
    min-height: 100%;
    margin: 0 auto;
}

.projects__item {
    align-self: center;
}

.projects__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.projects__link {
    display: block;
    width: 100px;
    height: 100px;
}

.projects__title {
    display: block;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.sedona1 {
    background-image: url("../img/sedona1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.sedona2 {
    background-image: url("../img/sedona2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.bear {
    background-image: url("../img/bear.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer__item {
    width: 25px;
    height: 25px;
}

.footer__tel {
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer__email {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer__vk {
    background-image: url("../img/icon-vkontakte.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
